@using VelzonModerna.ViewModels
@model VendedorViewModel

@section Breadcrumb {
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a asp-controller="GalLabs" asp-action="GlDashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Lista de Vendedor</a></li>
        <li class="breadcrumb-item active">Editar Vendedor</li>
    </ol>
}

@{
    ViewBag.Title = "Editar Fornecedor";
    ViewBag.pTitle = "Editar Fornecedor";
    ViewBag.pageTitle = "Fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="partialcooperchip/_cssindex" />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1"> <strong>Vendedor >> @Model.Nome.ToUpper() </strong></h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="live-preview">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <partial name="_edit_e_create" model="Model" />

                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                            <a asp-action="Index" class="btn btn-light">Voltar à lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="partialcooperchip/_scripts_datatables" />
    <script src="~/assets/js/app.js"></script>
}