@using GeneralLabSolutions.Domain.Enums
@using VelzonModerna.ViewModels
@model FornecedorViewModel

@* Linha 1 *@
<div class="row g-3 mb-3">

    <div class="col-md-4">
        @* Coluna para Documento *@
        <div class="form-floating">
            <input type="text" asp-for="Documento" class="form-control" id="Documento" placeholder=" ">
            <label asp-for="Documento">CPF / CNPJ</label>
            <span asp-validation-for="Documento" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="form-floating">
            <input type="text" asp-for="Nome" class="form-control" id="Nome" placeholder=" ">
            <label asp-for="Nome">Nome ou Razão Social</label>
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

</div>

@* Linha 2 *@
<div class="row g-3 mb-3">

    <div class="col-md-6">
        <div class="form-floating">
            <input type="email" asp-for="Email" class="form-control" id="Email" placeholder=" ">
            <label asp-for="Email">Email Principal</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-floating">
            <select asp-for="StatusDoFornecedor" class="form-select"
                    asp-items="Html.GetEnumSelectList<StatusDoFornecedor>()"
                    id="StatusDoFornecedor" aria-label="Status do Fornecedor">
                <option value="">Escolha...</option>
            </select>
            <label asp-for="StatusDoFornecedor">Status</label>
            <span asp-validation-for="StatusDoFornecedor" class="text-danger"></span>
        </div>
    </div>

</div>

@* Linha 3 *@
<div class="row g-3 mb-3">
    <div class="col-md-6">
        <div class="form-floating">
            <select asp-for="TipoDePessoa" asp-items="Html.GetEnumSelectList<TipoDePessoa>()" class="form-select" id="TipoDePessoa" aria-label="Tipo de Pessoa">
                <option value="">Escolha...</option>
            </select>
            <label asp-for="TipoDePessoa">Tipo de Pessoa</label>
            <span asp-validation-for="TipoDePessoa" class="text-danger"></span>
        </div>
    </div>
</div>