@using VelzonModerna.ViewModels
@model FornecedorViewModel

@{
    ViewBag.Title = "Excluir Fornecedor";
    ViewBag.pTitle = "Excluir Fornecedor";
    ViewBag.pageTitle = "Fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="partialcooperchip/_cssindex" />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">
                    <strong>Excluir o registro de: @Model.Nome.ToUpper() ?</strong>
                </h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="live-preview">
                    <partial name="_details_e_delete" model="Model" />

                    <hr>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <div class="text-end">
                            <input type="submit" value="SIM" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-light">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="partialcooperchip/_scripts_datatables" />
    <script src="~/assets/js/app.js"></script>
}