@using VelzonModerna.ViewModels
@model FornecedorViewModel

@section Breadcrumb {
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a asp-controller="GalLabs" asp-action="GlDashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Lista de Fornecedor</a></li>
        <li class="breadcrumb-item active">Detalhes</li>
    </ol>
}

@{
    ViewBag.Title = "Detalhes de Fornecedor";
    ViewBag.pTitle = "Detalhes de Fornecedor";
    ViewBag.pageTitle = "Fornecedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/assets/libs/toastify-js/src/toastify.css" rel="stylesheet" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1"> <strong>Fornecedor >> @Model.Nome.ToUpper() </strong></h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="live-preview">
                    <partial name="_details_e_delete" model="Model" />

                    <div class="text-end">
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Editar</a>
                        <a asp-action="Index" class="btn btn-light">Voltar à lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* ===== INÍCIO DA NOVA SEÇÃO DE AGREGADOS ===== *@
<div class="col-lg-12">
    <h5 class="mb-3">Dados Complementares do Fornecedor</h5>
    <div class="card">
        <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-customs nav-danger mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#dados-bancarios" role="tab">Dados Bancários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#telefones" role="tab">Telefones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#contatos" role="tab">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#enderecos" role="tab">Endereços</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content text-muted">


                <div class="tab-pane active" id="dados-bancarios" role="tabpanel">
                    <div id="dados-bancarios-list-container">
                        @await Component.InvokeAsync("AggregateList", 
                        new {
                            parentEntityType = "Fornecedor",
                            parentEntityId = Model.Id,
                            parentPessoaId = Model.PessoaId,
                            aggregateType = "DadosBancarios",
                            items = Model.DadosBancarios
                            })
                    </div>
                </div>

@* 
                <div class="tab-pane" id="telefones" role="tabpanel">

                    <div id="telefones-list-container">
                        @await Html.PartialAsync("PartialViews/_TelefonesListFornecedorPartial", Model.Telefones, new ViewDataDictionary(ViewData) { { "PessoaId", Model.PessoaId } })
                    </div>

                </div> *@


                <div class="tab-pane" id="telefones" role="tabpanel">
                    <div id="dados-bancarios-list-container">
                        @await Component.InvokeAsync("AggregateList", 
                        new {
                            parentEntityType = "Fornecedor",
                            parentEntityId = Model.Id,
                            parentPessoaId = Model.PessoaId,
                            aggregateType = "Telefone",
                            items = Model.Telefones
                            })
                    </div>
                </div>


@*                 <div class="tab-pane" id="contatos" role="tabpanel">

                    <div id="contatos-list-container">
                        @await Html.PartialAsync("PartialViews/_ContatosListFornecedorPartial", Model.Contatos, new ViewDataDictionary(ViewData) { { "PessoaId", Model.PessoaId } })
                    </div>

                </div>


                <div class="tab-pane" id="enderecos" role="tabpanel">
                    <div id="enderecos-list-container">
                        @await Html.PartialAsync("PartialViews/_EnderecosListFornecedorPartial", Model.Enderecos, new ViewDataDictionary(ViewData) { { "PessoaId", Model.PessoaId } })
                    </div>
                </div>
 *@


                 <div class="tab-pane" id="contatos" role="tabpanel">
                    <div id="dados-bancarios-list-container">
                        @await Component.InvokeAsync("AggregateList", 
                        new {
                            parentEntityType = "Fornecedor",
                            parentEntityId = Model.Id,
                            parentPessoaId = Model.PessoaId,
                            aggregateType = "Contato",
                            items = Model.Contatos
                            })
                    </div>
                </div>


                <div class="tab-pane" id="enderecos" role="tabpanel">
                    <div id="dados-bancarios-list-container">
                        @await Component.InvokeAsync("AggregateList", 
                        new {
                            parentEntityType = "Fornecedor",
                            parentEntityId = Model.Id,
                            parentPessoaId = Model.PessoaId,
                            aggregateType = "Endereco",
                            items = Model.Enderecos
                            })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<partial name="PartialViews/_offcanvas_dados_bancarios_fornecedor" />
<partial name="PartialViews/_offcanvas_telefone_fornecedor" />
<partial name="PartialViews/_offcanvas_contato_fornecedor" />
<partial name="PartialViews/_offcanvas_endereco_fornecedor" />

@section Scripts {

    <script src="~/assets/libs/prismjs/prism.js"></script>
    <script src="~/assets/libs/toastify-js/src/toastify.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/assets/js/app.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        await Html.RenderPartialAsync("PartialViews/_scriptjs_dados_bancarios_fornecedor");
        await Html.RenderPartialAsync("PartialViews/_scriptjs_telefone_fornecedor");
        await Html.RenderPartialAsync("PartialViews/_scriptjs_contato_fornecedor");
        await Html.RenderPartialAsync("PartialViews/_scriptjs_endereco_fornecedor");
    }

}


